/*For Everything*/
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    background-color: ivory;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  body {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container { 
    display: flex;
    align-items: center; 
  }
  
  .profile-image {
    margin-right: 10%px;
  }

  .title{
    font-family: Arial, sans-serif;
    color: #FF9900;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
  }

/*For Navbar*/
.nav {
    background-color: #f2f2f2;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #eaeaea;
}

/*For Profile*/
.profile-image {
    display: block;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.horizontal-align {
    display: flex;
    align-items: left;
    justify-content: left;
  }

.top-buttons {
  width: 70px;
  height: 70px;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  background-color: #fee0c3;
  outline: none;
  border: none;
}

.profile-name {
  margin-bottom: 0px;
}

.change-photo {
  border: none;
  background: none;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  color: grey;
}

.bottom-buttons {
  outline: none;
  border: none;
  background-color: #FFFFFF;
  margin: 3px 0px 3px 0px;
}

/*For Post.jsx*/
.singlePost {
  margin: 10px;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singlePost .userInfo {
  display: flex;
  align-items: center;
}

.small-profile-image {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
}

.userInfo p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.postHeader > p {
  margin: 0;
  padding: 0;
  color: orange;
}

.postTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.postTitles h2,
.postTitles p {
  margin: 0;
}

.postDetails {
  margin: 2px;

}

.postDetails p {
  font-size: 10px;
  /* margin-bottom: 10px; */
}

.postDetails div:first-child {
  display: flex;
  justify-content: space-between;
}



.postDetails p:last-child {
  margin-bottom: 0;
}

.postDetails .first-two {
  display: flex;
  justify-content: space-between;
}

.postInquiry {
  display: block;
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  border: 1px sold #ccc
}

.postInquiry::placeholder {
  color: grey;
}

/*For Login.jsx*/
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.loginTitle {
  margin-bottom: 20px;
}

.loginFields input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.loginFields button {
  background-color: white;
  color: orange;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

/*Add/Listing*/
.addListing {
  /* text-align: center; */
}

.iNeedOptions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.dateOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.top-selection-buttons {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 5px;
  flex-grow: 1;
}

.top-selection-buttons:hover {
  background-color: orange;
  color: white;
  border-color: white;
  border-radius: 10px;
}

.nextStepButtons {
  text-align: center;
}

/*Inbox.jsx*/
.chat-container {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.chat-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.chat-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-name {
  font-size: 16px;
  color: #333;
}