.profile-image {
    display: block;
    margin: 0px 0px 0px 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.horizontal-align {
    display: flex;
    align-items: left;
    justify-content: left;
  }
  
  .profile-image {
    /* Add any specific styles for your image here */
    /* For example, you might want to add some margin to separate it from the header */
    margin-right: 10px;
  }  

.title{
    font-family: Arial, sans-serif;
    color: #FF9900;
    position: relative;
    margin-top: -50px;
}

* {
  font-family: 'Inter', sans-serif;
}

.top-buttons {
  width: 70px;
  height: 70px;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  background-color: #fee0c3;
  outline: none;
  border: none;
}

.horizontal-child {
  position: relative;
  margin-right: 50px;
}

.profile-name {
  margin-bottom: 0px;
}

.change-photo {
  border: none;
  background: none;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  color: grey;
}

.bottom-buttons {
  outline: none;
  border: none;
  background-color: #FFFFFF;
  margin: 3px 0px 3px 0px;
}