.msg-container {
    position: relative;
}

.name {
    margin: 0px 0px 0px 0px;
}

.active {
    color: grey;
    margin: 0px 0px 0px 0px;
}

.first-msg {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 0px 20px 10px 20px;
    border-radius: 12px;
    padding: 5px;
    color: whitesmoke;
    width: 70vw;
    justify-content: flex-end;
}

.second-msg {
    background-color: orange;
    margin: 0px 20px 10px 20px;
    border-radius: 12px;
    padding: 5px;
    color: whitesmoke;
    width: 70vw;
}

.time-1 {
    margin-top: 480px;
}

.time {
    display: flex;
    justify-content: center;
    margin-bottom: 5px
}

.message-bar {
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: end;
}

.message-input {
    display: flex;
    width: 72vw;
    border: none;
    justify-content: center;
    margin-left: 5px;
}